body {
	width: 100vw;
	height: 100vh;
	margin: 0;

	.container{
		width: 100%;
		height: 100%;
		scroll-snap-type: y mandatory; //scrollea en el eje "y" o en "x" o en "both" dependiendo la opcion que elijas, se puede usar "proximity" para paginas grandes;
		overflow-y: scroll;  //si estaba en el eje x el scroll-snap-type pones -x y si esta en both no le pones nada;
		/*"display: flex;" si queres que se alineen horizontalmente*/

		section {
			flex: none;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 100vh;
			scroll-snap-align: start; //va a empezar a snap al principio de las secciones;


			&:nth-child(1) {
				background-color: rgb(28, 28, 28);
				color: green;
			}

			&:nth-child(2) {
				background-color: rgb(38, 38, 38);
				color: blue;
			}

			&:nth-child(3) {
				background-color: rgb(48, 48, 48);
				color: yellow;
			}

			h1 {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 15em;
			}
		}
	}
}
