body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body .container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body .container section {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

body .container section:nth-child(1) {
  background-color: #1c1c1c;
  color: green;
}

body .container section:nth-child(2) {
  background-color: #262626;
  color: blue;
}

body .container section:nth-child(3) {
  background-color: #303030;
  color: yellow;
}

body .container section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15em;
}
/*# sourceMappingURL=main.css.map */